<body>
  <div class="loginBackground"><img src="./assets/imgs/loginBackground.png" alt=""></div>
  <div class="glassy"></div>
  <h1>Login</h1>
  <div class="email">
    <input type="email" id="email"  placeholder=" Email Address">
  </div>
  <div class="password">
    <input type="password" id="password"   placeholder=" Password">
    <div class="login"><button routerLink="/home">Login</button></div>
  </div>
  <p class="with">you can also login with</p>
  <img src="./assets/img/google.png" alt="error" class="google">
  <img src="./assets/img/apple.png" alt="error" class="apple">
  <img src="./assets/img/facebook.png" alt="error" class="facebook">
  <h3 id="dont">Don't have and account?</h3>
  <h3 id="signup" routerLink="/signup">Sign Up</h3>
</body>
