        
   <img src=". /assets/img/logo.png" alt="error loading this pic">           
   <h1>Welcome<h1>        
      <div class="rectangle"></div>       
       <form>
       <input type="text" placeholder="Email Address" id="email"><br>            
        <input type="password" placeholder="Password" id="pass"><br>            
        <p class="forget"><a>Forget Password?</a></p>
                    <button type="submit" id="login">Login</button>  
                  <p class="with">you can also login with</p>         
           <img src=". /assets/img/google.png" alt="error"  class="google">       
             <img src=". /assets/img/apple.png" alt="error"  class="apple">            
        <img src=". /assets/img/facebook.png" alt="error"  class="facebook"> 
                   <p class="dont">Don't have an account?</p>         
           <p class="signup">Sign Up</p>        
      </form>
