<header>
    <div class="upperRectangle">
      <ul>
        <li class="CallUs">Call Us : 16312</li>
        <li class="DeliveryTime">Delivery time from 45:60 mins </li>
        <li class="payment">Easy Payment Methods</li>
  </ul>
  </div>
      <div class="aboveRectangle">
        <ul>
          <li class="hello">Hello,  <b>Nancy</b></li>
          <li class="ItemsNo">1 Item(s)  </li>
          <li class="location">   Maadi  <b> <u> Change</u></b> </li>
        </ul>
    </div>
  <hr>
    <nav>
      <ul  class="homeNav">
        <li><a routerLink="/home"  routerlinkActive="active">Home</a></li>
        <li><a href="#about"  >About</a></li>
        <li><a routerLink="/menu"  >menu</a></li>
        <li><a href="#contact"  >Contact</a></li>
        <li><a href="#contact"  >Contact</a></li>
        <li><a href="#contact"  >Contact</a></li>
        <li><a href="#contact"  >Contact</a></li>
      </ul>
    </nav>
  </header>
