<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./assets/img/logo - Copy.png">
    <!-- <link rel="stylesheet" href="about-us-style.css"> -->
    <title>About us</title>
</head>
<body>
    <ol class="directory">
        <li><a href="/home" class="li-link">Home </a></li>
        <li> > </li>
        <li> <b>About Us</b></li>
    </ol>
    <div>
        <h1 id="title">WHO WE ARE..</h1>
        <p id="intro">Sugar Fiesta is a dessert store that sells desserts that are low in calories and sugar-free,<br>
            primarily catering to those who have illnesses like diabetes that call for them to follow a<br>
            healthy diet plan, as well as anyone who generally follows a diet plan and, of course, those<br>
            who have a sweet tooth.</p>
    </div>
    <div>
        <img src="./assets/img/cake-chocolate.jpg" alt="error" id="about-us">
        <div class="rec"></div>
        <h1 id="about">About Us</h1>
    </div>
    <div>
        <h3 id="mission" style="text-align: left;">Our Mission</h3>
            <img src="./assets/img/dessert_cookies.jpg" alt="error" id="st1">
            <p class="text1">To provide the highest quality product<br>
                at the lowest possible sugar, the best<br>
                consumer experience in the industry,<br> and respect for our employees, <br>business partners, and community.
            </p>
        </div>
        <h3 id="goal" style="text-align: right;">Our Goal</h3>
        <div >
            <img src="./assets/img/raspberry_dessert.jpg" alt="error" id="st2">
            <p class="text2">Our goal is to assist diabetics and <br>provide them with desserts that are<br> tasty without any sugar added.
            </p>
        </div>
        <div>
            <h3 id="team" style="text-align: left;">Our Team</h3>
                <img src="./assets/img/confident-head-cook-standing-restaurant-professional-kitchen-with-arms-crossed-while-smiling-camera-sous-chef-wearing-cook.jpg" alt="error" id="st3">
                <p class="text3">Inclusivity is a core value at Target, and<br>
                     we’re proud of our work to be an open and<br> welcoming company. Now more than ever,<br>
                      our value of inclusivity plays an important<br>
                      role in everything we do to create a<br>
                      welcoming culture for our team and guests.</p>
            </div>
        </body>

</html>
