<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./assets/img/logo - Copy.png">
    <link rel="stylesheet" href="style.css">
    <icon></icon>
    <title>Login Page</title>
</head>
<body>
    <div>
        <div>
            <img src="./assets/img/logo.png" alt="error loading this pic">
            <h1>Welcome<h1>
        </div>
        <div class="rectangle"></div>
        <form>
            <input type="text" placeholder="Email Address" id="email"><br>
            <input type="password" placeholder="Password" id="pass"><br>
            <p class="forget"><a>Forget Password?</a></p>
            <button type="submit" id="login">Login</button>
            <p class="with">you can also login with</p>
            <img src="./assets/img/google.png" alt="error" class="google">
            <img src="./assets/img/apple.png" alt="error" class="apple">
            <img src="./assets/img/facebook.png" alt="error" class="facebook">
            <p class="dont">Don't have and account?</p>
            <p class="signup">Sign Up</p>
        </form>
    </div>
</body>
</html>