.menuBackground{
position: absolute;
width: 100%;
height: 208px;
left: 0px;
top: 218px;
overflow:hidden ;
}
.menuBackground img{
width: 100%;
}
.menuBackgroundOverlay{
  position: absolute;
width: 100%;
height: 208px;
left: 0px;
top: 218px;
background-color: black;
opacity: 30%;
}
html::-webkit-scrollbar{
  position:absolute;
  overflow-x: none !important;
}

div{
  position:absolute;
  overflow-x: hidden !important;
}
.search{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
position: absolute;
width: 782px;
height: 46px;
left: 261px;
top: 472px;
overflow:hidden !important;
border-radius: 10px 10px 10px 10px;

filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2)) drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.35));
}

.search textarea{
  display: flex;
flex-direction: row;
align-items: center;
padding: 8px;

width: 782px;
height: 46px;

/* System Materials/SM L Thick */
overflow:hidden !important;
background: rgba(250, 250, 250, 0.93);
border-radius: 10px 10px 10px 10px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
text-decoration: none;
border: none;
overflow: auto;
outline: none;

-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;

resize: none;
}

.search textarea::placeholder{
  position:absolute;
  width: 276px;
height: 22px;
text-align: center;
align-items: center;
align-content: center;
left:-8%;
top:20%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 22px;
/* identical to box height, or 100% */
letter-spacing: -0.408px;
/* Label Colors/LC L Secondary */
color: rgba(60, 60, 67, 0.6);
mix-blend-mode: normal;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.searchicon{
  position: absolute;
  left: 2%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
  /* or 278% */

  display: flex;
  align-items: center;

  /* Label Colors/LC L Secondary */

  color: rgba(60, 60, 67, 0.6);
}

.enjoy{
position: absolute;
width: 1016px;
height: 179px;
left: calc(50% - 1016px/2 - 16px);
top: 228px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 60px;
/* or 86% */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

// .a{
//   position: absolute;
// width: 1016px;
// height: 179px;
// left: calc(50% - 1016px/2 - 16px);
// top: 228px;

// font-family: 'Lato';
// font-style: normal;
// font-weight: 700;
// font-size: 70px;
// line-height: 60px;
// /* or 86% */

// display: flex;
// align-items: center;
// text-align: center;

// color: #FFFFFF;

// }

.uniqueExperience{
position: absolute;
width: 1016px;
height: 179px;
left: calc(50% - 1016px/2 - 16px + 244px);
top: 228px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 60px;
/* or 86% */

display: flex;
align-items: center;
text-align: center;

color: #FBE8D1;


}

.categories{
  position: absolute;
width: 182px;
height: 48px;
left: 261px;
top: 552px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
/* identical to box height */


color: #07393C;
}

.categoriesItems{
  position:absolute;
  display:flex;
  place-items: center;
  place-content:center;
  align-items:center;
  text-align: center;
  height: 500px;
  left: 236px ;
  top: 415.45px;

  justify-content: center;
  justify-items: center;
  -webkit-align-items: center;
  padding:5px;
  box-sizing: border-box;

}

.categoriesItems ul{
  position:absolute;
  padding:407px;
}
.categoriesItems li{
  display: inline-block;
  padding: 10px;
  float: left;
  flex-direction: row;
  display: flex;
  text-decoration: none;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  justify-content: space-between;
  padding:27px;
}
.rectangleAll{
overflow:hidden !important;
width: 70px;
height: 70px;
background: linear-gradient(91.43deg, #B1B1B1 11.51%, rgba(247, 236, 228, 0.192708) 67.95%, #59585B 91.34%);
box-shadow: 0px 2px 1.5px #895246;
border-radius: 20px;
padding:30px;
justify-content: center;
align-items:center;
text-align: center;
transition: 0.5s ;
cursor: pointer;
justify-items: center;
padding:5px ;

}

.rectangleAll img{
overflow: none;
align-content: center;
align-items: center;
justify-content: center;
}

.rectangleitems{

  overflow:hidden;
  width: 70px;
  height: 70px;
  background: linear-gradient(91.43deg, #D7B9A4 11.51%, rgba(215, 185, 164, 0.192708) 67.95%, #B07C71 91.34%);
  box-shadow: 0px 2px 1.5px #895246;
  border-radius: 20px;
  padding:5px;
    transition: 0.5s ;
    cursor: pointer;

  }

  .rectangleitems img{
    overflow: hidden !important;
    overflow-y: hidden !important;
    justify-content: center;

    }


.items{
  position:absolute;
  display:flex;
  align-items: center;
  padding:6px;
  margin-bottom: 6px;
  place-items: center;
  place-content:center;
  width: 1048px;
height: 1006px;
left: 255px;
top: 825px;
}

.item{
  padding:5px;
  justify-content: center;
  transition: 0.5s ;
  cursor: pointer;
}

.productText{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
/* or 100% */
align-items: center;
text-align: center;
}

li{
  list-style-type: none,
}

.product img:hover {
  transform: scale(1.2);
}






