<div class="menuBackground"><img src="./assets/imgs/menuBackground.png" alt=""></div>
<div class="menuBackgroundOverlay"></div>
<div class="search">
  <div class="searchicon"><img src="./assets/imgs/searchicon.svg" alt=""></div>
  <textarea placeholder="Search"></textarea>
</div>
<div class="enjoy">Enjoy a </div>
<div class="uniqueExperience">unique experience</div>
<div class="categories">Categories</div>
  <ul class="categoriesItems">
    <li class="rectangleAll"> <img src="./assets/imgs/logoAll.png" alt="">
    </li>
   <li class="rectangleitems">  <img src="" alt="">
  </li>
  <li class="rectangleitems"> <img src="" alt="">
  </li>
  <li class="rectangleitems"> <img src="" alt="">
  </li>
  <li class="rectangleitems"> <img src="" alt="">
  </li>
  <li class="rectangleitems"> <img src="" alt="">
  </li>
</ul>


