<img class="logo" src="./assets/images/logo.svg">
    <h1 routerLink="/home">Sign Up<h1>

<div class="rectangle">
        <div class="form">
        <input type="text" id="username" placeholder="Username" name="uname"><br>
        <input type="text" id="email" placeholder="Email Address" name="email"><br>
        <input type="password" id="pass" placeholder="Password" name="password"><br>
        <input type="password" id="cpass" placeholder="Confirm Password" name="confirmpassword"><br>
        <p id="terms">
            By registering you agree with our <b>Terms & Conditions</b>
        </p>
     <!-- <button routerLink="/home"  class="button" > signup</button> -->
        <p class="with">you can also signup with</p>
            <img src="./assets/images/Google_G_Logo (1).svg"  class="google">
            <img src="./assets/images/apple.svg"  class="apple">
            <img src="./assets/images/facebook.svg" class="facebook">
    </div>
</div>
<!-- <button class="button" routerLink="/home">signup </button> -->
<button onclick="window.location.href='home'">signup</button>

<!-- menu ~
history
contact us
about us


product
payment
profile
-->

<!-- error handling  -->

