<div>
  <div class="banner">
    <h2>Your profile</h2>
    <img src="../assets/Arrow - Down 2.svg" class="arrow"/>
    <img src="../assets/img.svg" class="smlpic" />
    <img src="../assets/notif.svg" class="bell"/>
  </div>
  <div class="pfpall">
    <img src="../assets/Ellipse 84.svg" class="pfp1"/>
    <img src="../assets/Ellipse 82.svg" class="pfp2"/>
    <img src="../assets/change photo.svg" class="pfp3"/>
  </div>
  <div class="ctnr1"> 
    <h2>Nancy Hany</h2>
    <h3>Your account is ready, you can now apply for advice</h3>
  </div>
  <h2 class="edittxt">Edit Profile</h2>
  <div class="dta0">
    <h4 class="prflsmltxt">Profile</h4>
    <h4 class="ctnct">Contact</h4>
  </div>
  <div class="dta">
    <h3 class="frstname">First Name</h3>
    <h3 class="lstname">Last Name</h3>
    <h3 class="email">Email</h3>
  </div>
  <div class="dta1">
    <input type="text" class="frstname1" placeholder="First Name"/>
    <input type="text" class="lstname1" placeholder="Last Name"/>
    <input type="text" class="email1" placeholder="Enter Email"/>
  </div>
  <div class="dta2">
    <h3 class="pswrd">Password</h3>
    <h3 class="phn">Phone Number</h3>
  </div>
  <div class="dta3">
    <input type="password" class="pswrd1" placeholder="Enter Password"/>
    <input type="text" class="phn1" placeholder="01 ########"/>
  </div>
  <div class="dta4">
    <h3 class="dof">Date Of Birth</h3>
    <h3 class="city">City</h3>
  </div>
  <div class="dta5">
    <input type="text" class="dof1" placeholder="Enter your birthday"/>
    <input type="text" class="city1" placeholder="Enter your city"/>
  </div>
  <button class="savebtn">Save</button>
  <ul class="list">
    <li class="li1">Home</li>
    <li class="li2">Profile</li>
    <li class="li3">Advice</li>
    <li class="li4">Chat</li>
    <li class="li5">Settings</li>
  </ul>
</div>