<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
</head>

<body>
            <div class="activity-card">
                <h3>Recent activity</h3>

                <table>
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Total</th>
                            <th>Date of Order</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>34563214</td>
                            <td>56 EGP</td>
                            <td>16/12/2022</td>
                            <td>
                                <span class="badge success">Success</span>
                            </td>
                        </tr>

                        <tr>
                            <td>56354214</td>
                            <td>125 EGP</td>
                            <td>13/12/2022</td>
                            <td>
                                <span class="badge warning">Processing</span>
                            </td>
                        </tr>

                        <tr>
                            <td>235656465</td>
                            <td>35 EGP</td>
                            <td>13/12/2022</td>
                            <td>
                                <span class="badge warning">Processing</span>
                            </td>
                        </tr>

                        <tr>
                            <td>896524788</td>
                            <td>205 EGP</td>
                            <td>15/12/2022</td>
                            <td>
                                <span class="badge success">Success</span>
                            </td>
                        </tr>

                        <tr>
                            <td>3165465165</td>
                            <td>102 EGP</td>
                            <td>16/12/2022</td>
                            <td>
                                <span class="badge success">Success</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

</body>