<div>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Titillium Web' rel='stylesheet'>
<div class="all">
  <body >
    <img src="./assets/imgs/backgroundRectangle.png" class="upperBackgroundImage"/>
    <div class="upperlower"><img src="./assets/imgs/fola.png"/>
    <span class="itsChristmas">it's christmas!</span>
    <span class="tree"> <img src="./assets/imgs/tree.png" alt=""></span>
    <div class="o20off">20% OFF</div>
    </div>
    <div class="rectangle24hrs"></div>

  <div class="rectangle24hrs" class="glass">

    <div class="rectangle24hrsInsider">

      <div class=t24-7Delivery > 24/7 delivery</div>

    </div>
    </div>
    <span>
    <h1 class="healthyanddelicious">Healthy </h1>
    <h1 class="and">And </h1>
    </span>
    <h1 class="delicious">Delicious</h1>
  <div class="fork">
    <img src="./assets/imgs/fork.png" alt="">
  </div>
<div class="dashedHalfCircle"></div>
<div class="BigCircularDessert" >
  <img src="./assets/imgs/bigCircular.png"  alt="">
</div>
<div class="icons">

  <div class="blurredCircle1">
    <img src="./assets/imgs/blurred1.png"  alt="" width="90" height="103">
  </div>
  <div class="blurredCircle2">
  <img src="./assets/imgs/blurred2.png"  alt="" width="74" height="84" >
</div>
<div class="blurredCircle3">
  <img src="./assets/imgs/blurred3.png"  alt="" width="84" height="66">
</div>

</div>

<!-- <script type="text/javascript">
function imgSlider(anything){
  document.querySelector('.blurredCircle2').src = anything;
}
  </script> -->
<h2 class="OurProducts" ><b>Our Products</b></h2>
<p class="OurProductsDetails">For more than 25 years, Magnolia Bakery has been making America’s favorite baked goods the old-fashioned way: from scratch, in small batches, and using the finest ingredients.</p>
<div>
  <ul class="products">
    <li class="product">
      <img src="./assets/imgs/eastern.png" alt=""><div class="productText">Middle Eastern Dessert</div>
    </li>
        <li class="product">
          <img src="./assets/imgs/cake.png" alt=""><div class="productText">Cakes</div>
        </li>
            <li class="product">
              <img src="./assets/imgs/pastries.png" alt=""><div class="productText">Pastries</div>
            </li>
            <li class="product">
              <img src="./assets/imgs/donut.png" alt=""><div class="productText">Donuts</div>
            </li>
            <li class="product">
              <img src="./assets/imgs/jar.png" alt=""><div class="productText">Jars</div>
            </li>
</ul>
</div>
<div class="blueRectangle">
  <img src="./assets/imgs/blueRectangle.png" alt="">
  <div class="chai"><img src="./assets/imgs/chai.png" alt=""></div>
  <div class="Arabiannight">
    <div><p>What</p>
  </div>
</div>
<span class="arabian">about an arabian night</span>
</div>
<p class="arabian2">With our</p>
<span class="Arabiannight2"> healthy baqlava</span>
<p class="ques">?</p>
<h2 class="Trending"><b>Trending</b></h2>
<p class="TrendingDetails">For more than 25 years, Magnolia Bakery has been making America’s favorite baked goods the old-fashioned way: from scratch, in small batches, and using the finest ingredients.</p>

<div>
  <ul class="productsTrending">
    <li class="productTrending">
      <img src="./assets/imgs/candyZalabya.png" alt=""><div class="productTrendingText">Cotton Candy Zalabya</div><div class="productTrendingPrice">31 EGP</div>
    </li>
        <li class="productTrending">
          <img src="./assets/imgs/Qatayf.png" alt=""><div class="productTrendingText">Cakes</div><div class="productTrendingPrice">15 EGP</div>
        </li>
            <li class="productTrending">
              <img src="./assets/imgs/chocoBanana.png" alt=""><div class="productTrendingText">Pastries</div><div class="productTrendingPrice">15 EGP</div>
            </li>
            <li class="productTrending">
              <img src="./assets/imgs/waffle.png" alt=""><div class="productTrendingText">Donuts</div><div class="productTrendingPrice">21 EGP</div>
            </li>
            <li class="productTrending">
              <img src="./assets/imgs/trendyJar.png" alt=""><div class="productTrendingText">Jars</div><div class="productTrendingPrice">21 EGP</div>
            </li>
</ul>
</div>

<div class="GoldenBackground">
  <img src="./assets/imgs/goldenRectangle.png" alt="">
  <div class="whiteCircle" ><img src="./assets/imgs/whiteRectangle.png" alt="" > </div>

  <!-- <div class="Arabiannight"> -->
    <!-- <div><p>What</p> -->
  </div>
  <div class="pinkCircle">
  </div>
  <div class="cupCake"><img src="./assets/imgs/cupCake.png" alt=""></div>
  <div class="cup"> Cup</div>
  <span class="cakes"> Cakes</span>
  <div class="from">from</div>
  <span class=heaven>heaven</span>
  <div class="mobile"><img src="./assets/imgs/mobile.svg" alt=""></div>
  <div class="Downloadapp">Download our App</div>
  <div class="play"> Play</div>
  <div class="windiscounts"> win discounts !</div>
  <div class="googlePlayDownload"><img src="./assets/imgs/GooglePlayButton.png" alt=""></div>


</body>
<footer>
  <div class="footerBigRectangle"></div>
  <div class="footerSmallRectangle"></div>
  <div class="email">
  <textarea name="emai" id="" cols="30" rows="10" placeholder=" your email"></textarea>
</div>
<div class="send"><img src="./assets/imgs/send.svg" alt=""></div>

  <ul class="footerNav">
    <li><img src="./assets/imgs/facebook.svg" alt=""></li>
    <li><img src="./assets/imgs/twitter.svg" alt=""></li>
    <li><img src="./assets/imgs/youtube.svg" alt=""></li>
  </ul>
   <p class="copyright">© Copyright 2019 - Lift Media</p>
  </footer>
</div>




